body{
	margin:0;
	padding:0;

}



header{
	background-color:mediumblue;
}



/* Style for nav bar */
.container-fluid{
	margin:0;
	padding:0;
}
nav .container-fluid{
	padding:0 10px 0 20px;
}
nav .container-fluid .navbar-header span,nav .container-fluid .navbar-header span:hover{
	color:white;
	font-size:17px;
	font-weight:bold;
}

.navbar ul{
	margin:0;
	padding:0;

}
.navbar ul li a{
	color:white;
	font-weight:bold;
}

.navbar ul li a:visited{
	background-color:blue;
}

/* End of nav bar */








body{padding-top:30px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

footer .navbar-fixed-bottom{
	background-color:mediumblue;
	color:white;
	font-weight:bold;
	line-height:30px;
}

footer .navbar-fixed-bottom a{
	color:white;
	text-decoration:none;
}
footer .navbar-fixed-bottom .about{
	position:absolute;
	right:50px;
	top:0;
}
